
{% load static %} 
<html>
<head><center> <h3> Accuracy Of Three Models Which Were Applied</h3></center>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<br><br>
<table>
  <tr>
    <th>Model Name</th>
    <th>Accuracy</th>
    
  </tr>
  <tr>
    <td>K Nearest Neighbours</td>
    <td>0.643931059773</td>
  </tr>
  <tr>
    <td>Random Forest</td>
    <td>0.650287250947</td>
  </tr>
    <tr>
    <td>Decision Tree</td>
    <td>0.648331499817</td>
  </tr> 
</table>
<p><center>
  Since this is a multi label classification we used KNN, Random Forests and Decision Tree models.
</center>
</p>
<br>
<br>
<center>
<div class="gallery">
  <div class="desc"><h2>Confusion Matrix for KNN model</h2></div>
   <img src="{% static "1CK.jpg" %}" alt="Confusion Matrix for KNN model, for highest frequency class" width="500" height="500">
  </div>
<br><br><br>
<div class="gallery">
    <div class="desc"><h2>Confusion Matrix for Random Forest model</h2></div>
    <img src="{% static "2CRF.jpg" %}" alt="Confusion Matrix for Random Forest model, for highest frequency class" width="500" height="500">
</div>
<br><br><br>
<div class="gallery">
  <div class="desc"><h2>Confusion Matrix for Decision Tree model</h2></div>
   <img src="{% static "3CT.jpg" %}" alt="Confusion Matrix for Decision Tree model, for highest frequency class" width="500" height="500">
  </div>
<br><br><br>

</center>

</body>
</html>
