{% load static %}
<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>Django File Upload Example</title>
        </head>

        <body>
                <!-- List of uploaded documents -->
                <!--documents is a reference to the classify_document table in mysql-->
                {% if documents %}
                        <ul>
                        {% for document in documents %}
                        <!--You need to only display based on user login-->
                                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}<br><br>
                                <div><img src="{% static document.docfile.name %}" alt="image-{{ classify.title }}"></div>
                                </a></li>
                        {% endfor %}
                        </ul>
                {% else %}
                        <p>No documents.</p>
                {% endif %}


                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url 'list1' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} </p>
                        <p>
                                {{ form.docfile.errors }}
                                {{ form.docfile }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>
                </form>

        </body>

</html>
~        
